body {
    background-color: aqua; 
    font-family: Verdana;
    text-align: center;
}
header{
    background-color: darkslateblue;
    color: white;
    border: 5px white;
} 
hr{
    border: 5px solid red;
}
#midTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

li{
    color: darkred;

}
a{
    color: darkred;
}
