body{
    background-color: rgb(237, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}
nav{
    height: 35px;
    background-color: black;
}
header{
    text-align: center;
}

#headerpic{
    height: 100px;
    
    text-align: center;
    
}
#top{
    color: aliceblue;
}
